///////////////////////////
/// COLORS
///////////////////////////

$colorGame: darkslateblue;
$backgroundColor: #fff;
$borderColor: #999;
$activeSquad: #e45447;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


::selection {
    background-color: $activeSquad;
    color: $backgroundColor;
}

body {
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: auto !important;
}

html,
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;

    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;

}

#root,
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


header h1 {
    display: flex;
    justify-content: center;
    background-color: $colorGame;
}

.resultBar h1 {
    display: flex;
    justify-content: center;
    background-color: $colorGame;
}

.square {
    background: $backgroundColor;
    border: 1px solid $borderColor;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;

    &:focus {
        outline: none;
    }
}

.active-square {
    background-color: $activeSquad !important;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

